/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2017, 5:21:45 PM
    Author     : IT10
*/

body {
    background-color: #999;
}
div.content {
    background-color: #fff;
    margin: 0 auto;
    width: 60%;
    /*border: 1px solid #00f;*/
}

div.header {
    
}

div.search-letters {
    margin: 0 auto;
}

ul.letters {
    margin: 0 auto;
}

ul.letters li {
    display: inline-block;
}

div.clear {
    clear: both;
}

div.left {
    float: left;
    padding: 0 15px 0 5px;
}

div.right {
    /*float: right;*/
    padding-left: 400px;
}

div.book-preview {
    background-color: azure;
    float: left;
    height: 300px;
    padding: 5px;
    /*width: 300px;*/
}

div.book-preview img {
    max-height: 250px;
    max-width: 190px;
}
