/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2017, 2:41:03 PM
    Author     : IT10
*/

body {
    background-color: #999;
}

div.content {  
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.content img {
    margin: 20px;
}

div.form-auth {
    margin-top: 50px;
}

form {
    border: 1px solid #aaa;
    margin: 0 auto;
    padding: 10px;
    width: 250px;
}